<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	
	<form action="EmployeeServlet"  method="post">
		
		EID : <input type="number" name="eid"> <br>
		EMPLOYEE NAME : <input type="text" name="ename"> <br>
		SALARY : <input type="number" name="salary"> <br>
		
			<button type="submit">Add Employee</button>
		
	</form>
	
	<hr>
	
	<form action="EmployeeServlet"  method="get">
		
		<button type="submit">Display Employees</button>
		
	</form>
	
	

</body>
</html>


